.single-row-form {
  align-self: center;
  width: 100%;
  display: flex;
  border: 1px solid $color-black;
  margin-bottom: 1rem;

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);
    background-color: $color-white;
  }

  .input {
    font-size: 1.6rem;
    font-family: $font-primary;
    color: inherit;
    padding: 1.5rem 1rem;
    background-color: $color-white;
    border: none;
    transition: all .3s;
    width: 100%;
    flex-grow: 2;

    &:focus {
      outline: none;
    }
  }

}

