.header {
  display: flex;
  width: 100%;
  font-size: 1.6rem;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  overflow: hidden;
  width: 100%;

  .nav-bar--left {
    display: flex;

  }

  .nav-bar--right {
    display: flex;
    margin-left: auto;

  }

}

.nav-item {
  padding: 1rem;
  cursor: pointer;

  &:hover {
    background-color: $color-black;
    color: $color-white
  }
}